@import url(https://fonts.googleapis.com/css?family=Red + Hat + Display&display=swap);

body {
  text-align: center;
  background-color: #363636;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 100;
  color: white;
}

p {
  margin: 0;
}

.countdown-title {
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(106, 72, 215);
  display: inline-block;
}

.countdown-time {
  min-width: 40px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgb(65, 44, 132);
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.message {
  font-weight: 400;
  font-size: 28px;
  margin-top: 8px;
}

button {
  margin-top: 30px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #dd5145;
  cursor: pointer;
}

button:hover {
  background: #19a15f;
}

button:disabled {
  background: #c7c7c7;
  color: #969494;
  cursor: inherit;
}
